/** Começo Home **/

/** header **/

.logo{
    height: 8%;
    width: 8%;
}

.header{
    background-image: linear-gradient(to bottom left,	#1C1C1C,#DC143C,#1C1C1C ,#DC143C);
    width: 100%;
    height: 88px;
   border-bottom:solid whitesmoke 3px;
}


.header ul{
    list-style: none;
    float: right;
    padding-right: 90px;
    
}

.header li {
   
   display: inline-block;
   font-size: 17px;
   text-transform: uppercase;
   padding: 6px;
   border-radius: 5px;
   background-image: linear-gradient(to  bottom right, 	#380D0D,#DC143C, #380D0D,#DC143C);
}

.header ul li a{ 
    text-decoration: none;
}    

.header h1, .header ul{
     margin-top: 25px;
       
}

 .Corheader{
    color: whitesmoke;
    font-weight: bold;
}

.secondheader{
    width: 100%;
    
}


/** Introdução **/

.historia h1{
    padding-left: 29%;
    background-color: black;
    color: white;
}  

.historia img{
    padding-left: 30%;
    width: 39%;
    
}

#titulohistoria2{
    padding-left: 42%;
    font-size: 25px;
}

.historia2{
    padding-left: 28%;
    margin: 1%;
    font-size: 20px;
}

#larryhome{
    width: 40%;
    height: 17%;
    padding-left: 29%;
}

#larrynome{
    padding-left: 47%;
}

#conclusao{
    padding-left: 28%;
    margin: 1%;
    font-size: 20px;
}

#conclusao a{
    text-decoration: none;
    color: black;
    font-style: italic;

}

#vermelho{
    height: 3px;
    width: 100%;
    background-color: #ED2024 ;
}

/** footer**/

.footer{
    background-image: linear-gradient(to bottom left,	#1C1C1C,#DC143C,#1C1C1C ,#DC143C);
    width: 100%;
    height: 218px;
   border-bottom:solid whitesmoke 3px;
}

.footer b{
    color: white;
    position: relative;
    z-index: 4;
}

/** Fim Home **/


/** Começo  Biografias **/

#biografiaOpens {
   padding-left: 28%;
    font-size: 30px;
    background-image: linear-gradient(black, grey, black, grey);
    color: white;
    font-style: italic;
    height: 40px;
}

.alinhamento {
    font-size: 20px;
    padding-left: 28%;
    background-color: black;
    color: whitesmoke;
}    

.imgAlinhada {
    height: 20%;
    width: 30%;
    padding-left: 18%;
    border-radius: 30px;
}

.nomeFisuculturista {
     color: LightBlue;
    font-style:oblique;
}

.Categorias {
    list-style: none;
  
    display: flex;
}